<aside class="sitebottom">
  <div class="row container">
    <div class="columns medium-4">
      <h3><a href="/mindent-az-apnoerol/">Mindent az apnoéról</a></h3>
      <ul>
        <li><a href="/mindent-az-apnoerol/alvasi-apnoe/">Ismerje fel</a></li>
        <li><a href="/mindent-az-apnoerol/tunetek/">Tünetek</a></li>
        <li><a href="/mindent-az-apnoerol/veszelyek/">Veszélyek</a></li>
        <li><a href="/mindent-az-apnoerol/jogositvany/">Szűrés jogosítványhoz</a></li>
        <li><a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/">Teszt</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h3><a href="/apnoe-kezelese/">Apnoé kezelése</a></h3>
      <ul>
        <li><a href="/apnoe-kezelese/elso-lepesek/">Első lépések</a></li>
        <li><a href="/apnoe-kezelese/kezelesi-modszerek/">Kezelési mód</a></li>
        <li><a href="/apnoe-kezelese/terapias-eszkozok/">Terápiás eszközök</a></li>
        <li><a href="/apnoe-kezelese/cpap-hasznalata/">Terápiás eszközök használata</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h3>Hova forduljon panaszaival</h3>
      <p>Eos provident recusandae optio maxime dignissimos? Molestias id, blanditiis reiciendis culpa dolores et incidunt nobis iusto, quos dolor animi officiis dignissimos facilis.</p>
      <a href="/intezmenyek/" class="button small">Intézmények listája</a>
    </div>
  </div>
</aside>
