<aside class="sitebottom">
  <div class="row container">
    <div class="columns medium-4">
      <h3>Mindent az apnoéról</h3>
      <ul>
        <li><a href="#">Mi az alvási apnoé?</a></li>
        <li><a href="#">Alvási apnoé tünetei</a></li>
        <li><a href="#">Kikre veszélyes az alvási apnoé?</a></li>
        <li><a href="#">Miért veszélyes</a></li>
        <li><a href="#">Hol kaphat segítséget</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h3>Alvási apnéja van?</h3>
      <ul>
        <li><a href="#">Teendők és tudnivalók</a></li>
        <li><a href="#">Alvási apnoé tünetei</a></li>
        <li><a href="#">Kikre veszélyes az alvási apnoé?</a></li>
        <li><a href="#">Miért veszélyes</a></li>
        <li><a href="#">Hol kaphat segítséget</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos provident recusandae optio maxime dignissimos? Molestias id, blanditiis reiciendis culpa dolores et incidunt nobis iusto, quos dolor animi officiis dignissimos facilis.
    </div>
  </div>
</aside>
