<header class="siteheader">

  <div class="row container">
    <div class="columns small-4">
      <a class="sitelogo" href="/">{{ site.name }}</a>
    </div>
    <div class="columns small-8">
      <a href="#" class="button small siteheader__cto">Apnoe teszt</a>
      <nav class="sitenav">
        <ul class="menu menu--sitemenu">
          <li><a href="/mindent-az-apnoerol/">Ismerje fel</a></li>
          <li><a href="/apnoe-gyogyitasa/">Kezeltesse</a></li>
          <li><a href="/minta/">Mintaoldal</a></li>
          <li><a href="/test/">Test</a></li>
        </ul>
      </nav>
    </div>
  </div>

</header>
