<!-- <header class="hero" role="banner" style="background-image: url('http://placehold.it/1600x400/333333/?text=1a1')"> -->
<header class="hero" role="banner" style="background-image: url('https://previews.123rf.com/images/goodluz/goodluz1406/goodluz140600608/29289952-40-year-old-man-using-laptop-computer-at-home-Stock-Photo.jpg')">
  <div class="row container">
    <div class="columns large-8 large-centered text-center">
      <div class="hero__content">
          <h2 class="hero__title">Ne veszítse el a jó napokat a rossz éjszakák miatt</h2>
          <p class="hero__text">Észleli az alvási apnoé tüneteit? Tesztünkből megtudhatja, hogy a rossz napok hátterében ez az alvászavar áll-e.</p>
          <a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/" class="button">Teszt kitöltése</a>
      </div>
    </div>
  </div>
</header>