<nav class="subnav" role="navigation">
  <div class="row container">
    <div class="columns">
      <ul class="tabs tabs--submenu" data-tabs>
        <li class="tabs-title">
          <a href="/apnoe-kezelese/" {% if page.url == '/apnoe-kezelese/' %}class="active" aria-selected="true"{% endif %}>
            Apnoéja van?
          </a>
        </li>
        <li class="tabs-title">
          <a href="/apnoe-kezelese/elso-lepesek/" {% if page.url == '/apnoe-kezelese/elso-lepesek/' %}class="active" aria-selected="true"{% endif %}>
            Első lépések
          </a>
        </li>
        <li class="tabs-title">
          <a href="/apnoe-kezelese/kezelesi-modszerek/" {% if page.url == '/apnoe-kezelese/kezelesi-modszerek/' %}class="active" aria-selected="true"{% endif %}>
            Kezelések
          </a>
        </li>
        <li class="tabs-title">
          <a href="/apnoe-kezelese/terapias-eszkozok/" {% if page.url == '/apnoe-kezelese/terapias-eszkozok/' %}class="active" aria-selected="true"{% endif %}>
            Terápiás eszközök
          </a>
        </li>
        <li class="tabs-title">
          <a href="/apnoe-kezelese/cpap-hasznalata/" {% if page.url == '/apnoe-kezelese/cpap-hasznalata/' %}class="active" aria-selected="true"{% endif %}>
            Készülék használata
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>