// Links
a {
  font-weight: $global-weight-bold;
}
.lead {
  //margin-bottom: 1.5rem;
}


blockquote {
  @include clearfix();
  background-color: scale-color($primary-color, $lightness: 95%);
  border-radius: 0 $global-radius/3*2 $global-radius/3*2 0;
  border-left:6px solid $primary-color;
  font-size: 112.5%;

  > p {
    //text-transform: uppercase;
    //opacity: .5;
    //font-weight: $global-weight-bold;
    //font-style: italic;
    margin-bottom: 0;
  }
}

.button {
  font-family: $sans-font-family;
  text-transform: uppercase;
  font-weight: $global-weight-bold;
  &.hollow {
    border-width:3px;
  }

  .bginverse & {
    @include button(false, scale-color($primary-color, $lightness: 95%), scale-color($primary-color, $lightness: 80%), $primary-color, solid);
    color:$primary-color;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
}
.tabs {
  border:none;
}
.tabs-title {
  > a {
    font-weight: $global-weight-bold;


    @include breakpoint(large) {
      font-size: .875rem;
    }
    &:hover,&:focus, &[aria-selected="true"] {
        background-color: scale-color($tab-background, $lightness: 95%);
        color:$body-font-color;
    }

    &[aria-selected="true"] {
        background-color: $white;
    }
  }
}

main[role="main"] {
  li {
    margin-bottom:$paragraph-margin-bottom/2;
  }
}

