---
layout: default
regenerate: true
bodyclass: home
---

{% include hero.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns">

        <div class="row small-up-1 medium-up-2 large-up-3 cardblock">
          <div class="column ccol-1">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/mindent-az-apnoerol/">Ismerje fel az alvási apnoét!</a></h3>
                <p class="card__excerpt">Tudjon meg többet erről az alvászavarról, hogy időben észrevegye az árulkodó jeleket. Mit is jelent pontosan? Milyen tünetekkel jár? Mik a veszélyek és kockázatok?</p>
                <a href="/mindent-az-apnoerol/alvasi-apnoe/" class="card__more">Minden az apnoéról</a>
              </header>

              <figure class="card__fig">
                <!-- <a href="/mindent-az-apnoerol/"><img src="http://placehold.it/640x320/333333/?text=1a2" alt=""></a> -->
                <a href="/mindent-az-apnoerol/"><img src="https://previews.123rf.com/images/ismagilov/ismagilov1611/ismagilov161101477/65858950-Portrait-of-triplets-thinking-about-a-problem-near-a-light-blue--Stock-Photo.jpg" alt=""></a>

              </figure>
            </div>
          </div>

          <div class="column ccol-2">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/apnoe-kezelese/">Már diagnosztizálták Önnél?</a></h3>
                <p class="card__excerpt">Itt mindent megtalál, amire szüksége lehet. Legyen szó kezelési módról, terápiás eszközökről és módszerekről. Itt jó helyen jár!</p>
                <a href="/apnoe-kezelese/" class="card__more">Kezelési módok és terápiás eszközök</a>
              </header>
              <figure class="card__fig">
                <!-- <a href="/apnoe-kezelese/"><img src="http://placehold.it/640x320/333333/?text=1a3" alt=""></a> -->
                <a href="/apnoe-kezelese/"><img src="https://previews.123rf.com/images/michaeljung/michaeljung1305/michaeljung130500143/19411701-middle-aged-couple-reading-emalis-on-tablet-computer-Stock-Photo.jpg" alt=""></a>
              </figure>
            </div>
          </div>


          <div class="column ccol-3">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/intezmenyek/">Hol kaphatok segítséget?</a></h3>
                <p class="card__excerpt">Az alvási apnoéval, vagy akár a betegség gyanújával is érdemes felkeresni az ezzel foglalkozó intézmények egyikét. Melyekről van szó?</p>
                <a href="/intezmenyek/" class="card__more">Íme az intézmények listája</a>
              </header>
              <figure class="card__fig">
                <!-- <a href="/intezmenyek/"><img src="http://placehold.it/640x320/333333/?text=1a4" alt=""></a> -->
                <a href="/intezmenyek/"><img src="https://previews.123rf.com/images/dolgachov/dolgachov1410/dolgachov141000905/32282129-healthcare-and-medicine-concept-smiling-female-doctor-over--Stock-Photo.jpg" alt=""></a>
              </figure>
            </div>

          </div>
        </div>
      </div>
  </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-6">
        <h3>Lehet, hogy alvási apnoéja van? Ideje letesztelni!</h3>
        <p>Nyugtalan éjszakák? Nappali aluszékonyság? Horkol? Töltse ki egyperces tesztünket ami által megtudhatja, hogy okozhatja-e mindezt alvászavar.</p>
        <a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/" class="button small">Teszt kitöltése</a>
      </div>
      <div class="columns large-6">
        <h3>Itt találhat szakszerű segítség problémájára</h3>
        <p>Keresse fel Ön is az alvászavarokkal foglalkozó intézmények egyikét, ahol a kezdeti kivizsgálástól a terápia beállításáig minden vizsgálati módszert megtalál.</p>
        <a href="/intezmenyek/" class="button small">Intézmények listája</a>
      </div>
    </div>
  </section>
</main>


<!-- {% for post in site.posts %}
          <div class="column">
            <article class="post post--small">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
            </article>
          </div>
{% endfor %} -->