---
layout: default
permalink: /mindent-az-apnoerol/jogositvany/
class: ccol-1
title: Apnoé szűrés jogosítványhoz
subtitle: Alkalmassági vizsgálat menete
---
{% include hero.html %}

{% include subnav-apnoe.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Miután 2001-et megelőzően 55 ezret meghaladó halálos kimenetelű közlekedési balesetet regisztráltak az Európai Unióban, az EU döntéshozói célul tűzték ki a közlekedési balesetek számának csökkentését. Az utóbbi években több kutatás eredménye világított rá, hogy a közlekedési balesetek hátterében gyakran húzódik meg az obstruktív alvási apnoé</p>
        <p>Tanulmányok kimutatták, hogy rengetegen érintettek az OSA betegségben, amely az álmos autóvezetésből eredő balesetek előfordulásának esélyét 2-7-szeresére növeli. Az alvászavarokkal kapcsolatos további tudnivalókért keresse fel kezelőorvosát vagy alvásszakértőjét!</p>
        <p>A rendszeres hangos horkolás, az alvás közbeni levegő után kapkodás, vagy a légzés leállása az alvási apnoé legjellemzőbb tünetei. A rendellenesség eredménye az alvás széttöredeződése (rövid ébredések sorozata, amelyekre gyakran nem is emlékszünk) és a nem kellően pihentető alvás.</p>
        <p>Az álomittas sofőrök hasonlóan viselkednek az alkoholos befolyás alatt állókhoz: jóval lassabban reagálnak egy-egy helyzetre, rosszul mérik fel a távolságot és sokszor nem megfelelően választják meg a haladás sebességét, ráadásul jelentősen romlik a mozgáskoordinációjuk, így ha időben észlelik is a veszélyes helyzetet, már nem tudják helyrehozni azt. Az emellett fellépő, úgynevezett mikroalvások (az egy másodperc törtrészétől akár 30 másodpercig tartó rövid, akaratlan elalvások) tovább növelik a közlekedésbiztonsági kockázatot. Fontos megjegyezni, hogy utóbbit sokan nem is élik meg, vagyis anélkül alszanak el néhány másodpercre, hogy tudatában lennének, mi történt.</p>
      </div>
      <div class="columns large-4 ">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="/intezmenyek/">Hol kaphatok segítséget?</a></h3>
            <p class="card__excerpt">Az alvási apnoe jól kezelhető. A páciens sokszor már a kezelés kezdetén érzi a vele járó előnyöket, mint például az aluszékonyság és a fáradtság csökkenését és a jobb kedélyállapotot.</p>
            <a href="/intezmenyek/" class="card__more">Gyógyító intézmények listája</a>
          </header>
          <figure class="card__fig">
            <a href="/intezmenyek/"><img src="http://lorempixel.com/640/320" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-8">
        <h2>A szűrés menete</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis similique cumque dolores officia dolorem id sunt quo voluptate quos accusamus, quod, aliquam dolorum sed commodi, eligendi modi laboriosam. Non, culpa!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vel quisquam mollitia similique cupiditate unde. Necessitatibus, harum. Laudantium aut doloribus tempora molestias possimus sapiente quas laboriosam in error! Corporis, autem!</p>
      </div>
    </div>
  </section>
</main>
