---
layout: default
permalink: /mindent-az-apnoerol/veszelyek/
class: ccol-1
title: Alvási apnoé veszélyei és kockázatok
subtitle: Ön is lehet érintett
---
{% include hero.html %}

{% include subnav-apnoe.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Ha Ön alvási apnoé beteg, lehet, hogy alvás közben nem jut elég oxigénhez, és valószínűleg nem alszik jól. Előfordulhat, hogy aluszékonyságban szenved, ami munkájára és/vagy társas életére is káros hatással lehet, sőt akár autóbalesethez is vezethet.</p>
        <blockquote><p>A problémák általában fokozatosan jelentkeznek, és hosszú évek leforgása alatt teljesednek ki, ezért előfordulhat, hogy a nem ismeri fel a tüneteket.</p></blockquote>
        <p>Szerencsére az alvásszakértők manapság már sikerrel diagnosztizálják és kezelik ezeket az alvás közben jelentkező légzési rendellenességeket. A megfelelő kezelés megelőzheti, vagy visszafordíthatja az alvási apnoé potenciálisan veszélyes következményeit.</p>
      </div>
      <div class="columns large-4 ">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="/mindent-az-apnoerol/jogositvany/">Jogosítvány promo</a></h3>
            <p class="card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nobis repellat sequi, quisquam consequatur est, dignissimos dolores earum temporibus nulla impedit cumque commodi eaque adipisci eligendi quos quibusdam modi obcaecati.</p>
            <a href="/mindent-az-apnoerol/jogositvany/" class="card__more">Alkalmasságról bővebenn</a>
          </header>
          <figure class="card__fig">
            <a href="/mindent-az-apnoerol/jogositvany/"><img src="http://lorempixel.com/640/320" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns">
        <h3>Alvási apnoé kialakulását befolyásoló tényezők</h3>
        <div class="row small-up-1 medium-up-2 alarge-up-3">
          <div class="column">
            <h4>Elhízás</h4>
            <p>Elhízás során a szájgarat oldalában annak rugalmasságát csökkentő, a garat keresztmetszetét szűkítő zsír szaporodik fel. Túlsúly esetén a páciensek gyakran alullélegeznek, ilyenkor megemelkedik a vér CO2 szintje, ami csökkenti a garat tónusát, vagyis az jobban elernyed.</p>
          </div>
          <div class="column">
            <h4>Felsőlégúti allergia</h4>
            <p>A felső légúti allergia a felső légutakban belégzési akadályt képez, így az alvási apnoé kialakulását eredményezi. Kezelése elengedhetetlen.</p>
          </div>
          <div class="columns">
            <h4>Családban gyakori horkolás (öröklödhet a hajlam)</h4>
            <p>Hogyha valamelyik családtagjának alvási apnoe-ja van, a betegség nagyobb valószínűséggel alakul ki.</p>
          </div>
          <div class="column">
            <h4>Nagy méretű nyelv</h4>
            <p>A megnagyobbodott nyelv elzárja a légút útját és légzéskimaradásokkal lehet számítani. Ezek a légzéskimaradások mikroébredéseket eredményeznek, melynek következtében kialvatlanok leszünk.</p>
          </div>
          <div class="column">
            <h4>Mélyharapás</h4>
            <p>A felső metszők normális állapotban 1-1.5 mm-t takarnak az alsókból. Ha ez a takarás ennél nagyobb, akkor beszélnünk mélyharapásról. A hátrébb helyezett harapás miatt a nyelv a garatba csúszik alvás alatt.</p>
          </div>
          <div class="column">
            <h4>Férfi nem</h4>
            <p>A genetikai hajlamnak köszönhető, hogy az alvási apnoé szindróma főként a férfiakat érinti, ami a kor előrehaladtával ez fokozódik. Az ok pedig a nyak vastagságában keresendő, hiszen a zsír főként a nyakra és a felsőtestre rakódik le. A garat keresztmetszetét szűkíti a zsír ezzel akadályozva a levegő útját.</p>
          </div>
          <div class="column">
            <h4>Változó kor</h4>
            <p>A menopauza bekövetkeztekor csökken a női hormonok száma úgymond „elférfiasodnak” a nők. Ennek következménye a hízás, és a zsír lerakódásának a helye is megváltozik. A zsír – mint a férfiaknál - főként a nyakra és a felsőtestre rakódik. Az elhízásnak köszönhetően a nyak megvastagszik és a garat keresztmetszetét szűkíti, ezáltal a levegő akadályba ütközik. Ez kiküszöbölhető hormonpótló tabletták szedésével, de előtte feltétlenül konzultáljon orvosával.</p>
          </div>
          <div class="column">
            <h4>Öregedés</h4>
            <p>A kor előrehaladtával az izmok gyengülnek, melybe beletartoznak a garat izmai is. Ha a garat izmai nem működnek megfelelően, a ki-be áramló levegő a felső légutak lágy szöveteit mozgásba hozza, így kialakul a horkolás. Amennyiben tovább fokozódik, az elernyedt garatizmok olyan közel kerülnek egymáshoz, hogy gyakorlatilag összetapadnak, azaz alvási apnoé alakul ki.</p>
          </div>
          <div class="column">
            <h4>Dohányzás</h4>
            <p>A dohányzás fokozhatja a gyulladást és a felső légutak duzzanatát, szűkítve a légutakat.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-10">
        <h2>Lehetséges kockázatok</h2>
        <p class="lead">Az alvási apnoé számos egészségügyi kockázattal járhat, mint a magas vérnyomás és a cukorbetegség. Legveszélyesebbek mégis az úgynevezett keringési kockázatok. A kezeletlen, súlyos apnoé ugyanis tízszeresére emelheti az éjszakai szívinfarktus és a stroke kialakulásának kockázatát.</p>
        <p>Az alvási apnoé, a betegség természetéből adódóan orvosi kezelés nélkül magától nem múlik el, sőt az évek előrehaladtával súlyosbodik, így a kockázatok elkerülése érdekében azt javasoljuk, hogy mielőbb <a href="/intezmenyek/">forduljon szakorvoshoz.</a></p>
      </div>
    </div>
    <div class="row container">
      <div class="columns">
        <h3>A nem kezelt alvási apnoé néhány lehetséges következménye</h3>
        <div class="row small-up-1 medium-up-2 alarge-up-3">
          <div class="column">
            <h4>Magas vérnyomás – szívroham - szívelégtelenség</h4>
            <p>Az alvás apnoé betegek alvás közben ismétlődő légzésleállásokat produkálnak, amelyet a torok hátsó felében található fő légút elzáródása vagy beszűkülése idéz elő melynek következménye a többszöri mikroébredés. A légzésleállásból származó oxigénszint-csökkenés, illetve az ébredés által okozott szívfrekvencia- és vérnyomás-növekedés megterheli a szívet. Az éjszakánként jelentkező vérnyomásnövekedés végül állandó magas vérnyomáshoz vezet, ami már napközben sem csökken. A hipertenzió kezelése azért fontos, mert egy ismert kockázati tényező olyan egyéb SZÍV és ÉRRENDSZERI betegségek kialakulásában, mint a szívroham, a szívszélhűdés és a stroke.</p>
          </div>
          <div class="column">
            <h4>Agyvérzés</h4>
            <p>Az agyvérzés úgy áll összefüggésben az alvási apnoéval, hogy a rossz légzés során a széndioxidszint megemelkedik, keringési zavarok jelentkeznek és a véralvadékonyság növekszik, ezáltal megnő a kockázata annak, hogy agyvérzésünk lesz.</p>
          </div>
          <div class="column">
            <h4>Depresszió</h4>
            <p>Az alvási apnoé okozta mikroébredések hatására napközben ingerlékenyek leszünk. Ennek következtében az élet szinte minden területén romlik a teljesítőképesség. Mivel az elvárások ezzel párhuzamosan nem csökkennek, egyre több stresszhelyzettel szembesülhetünk, ami fokozott türelmetlenséget vált ki, és a depresszió melegágya is lehet.</p>
          </div>
          <div class="column">
            <h4>Cukorbetegség</h4>
            <p>Mivel a légzéskimaradások egy éjszaka alatt több százszor bekövetkezhetnek, nagy mennyiségű adrenalin kerülhet a vérbe. Ez a jelenség rendkívül intenzív cukorfogyasztásnak felel meg, aminek következtében az inzulinraktárak kimerülhetnek és kialakulhat a 2-es típusú cukorbetegség.</p>
          </div>
          <div class="column">
            <h4>Közlekedési és munkahelyi balesetek</h4>
            <p>Az alvásbetegségek közül kiemelt figyelmet érdemel az obstruktív alvási apnoé szindróma, amelyről ma már tudjuk, hogy ha nem kezelik, hosszú távon olyan mértékű nappali aluszékonysághoz, figyelem- és koordinációs zavarokhoz vezethet, hogy az ebben szenvedő betegek 2–3-szor valószínűbben okoznak közlekedési balesetet, mint egészséges társaik.</p>
          </div>
          <div class="column">
            <h4>Elbutulás</h4>
            <p>Alvási apnoe a mentális hanyatlás mértékével is összefügg. Apnoe során a gyakori ébredések alvásfragmentálódáshoz vezet, ezáltal csökken a REM és a mélyalvás tartama, így a nappali aluszékonyság, valamint a mentális hanyatlás mértéke fokozódik. CPAP kezelés ezeket a tüneteket jelentősen javíthatja.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-8">
        <h2>Mikor forduljon orvoshoz</h2>
        <p class="lead">Melyek az alvási apnoé szindróma kialakulásának jelei?</p>
      </div>
    </div>
    <div class="row container">
      <div class="columns">
        <div class="row medium-up-2 ">
          <div class="column">
            <p><strong>Kimondottan hangos horkolás,</strong> amely több szobányi távolságból (sőt akár a szomszéd lakásból) is hallható.</p>
          </div>
          <div class="column">
            <p>Az a horkolás típus (horkantásokkal kísérten), amelyet <strong>zihálásba torkolló szünetek szakítanak meg,</strong> annak a jele, hogy a légzés időnként leáll, majd újra indul. Esetenként az érintettek emlékezhetnek is rá, hogy kifulladva vagy zihálva ébredtek, bár az esetek túlnyomó többségében nem marad emlékkép ezekről az eseményekről.</p>
          </div>
          <div class="column">
            <p><strong>Váratlan álomba zuhanás</strong> alkalmatlan időpontokban, például munka vagy autóvezetés közben.</p>
          </div>
          <div class="column">
            <p>Koncentráció-képtelenség, illetve fokozódó feledékenység, ingerlékenység, szorongás vagy letargia.</p>
          </div>
          <div class="column">
            <p><strong>Reggeli fejfájások vagy hányinger,</strong> gyakori éjszakai vizeléskényszer, valamint a szexuális vágy megszűnése. A férfiaknál előfordulhat impotencia, a nőknél menstruációs problémák.</p>
          </div>
        </div>
        <a href="/intezmenyek/" class="button small">intézmények listája</a>
      </div>
    </div>
  </section>

  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns">
        <h2>Közlekedési balesetek az alvási apnoétól</h2>
        <p class="lead">Azok az autóvezetők, akiknél olyan nem diagnosztizált vagy kezeletlen alvászavarok állnak fenn, mint például az alvás közbeni légzésleállás (röviden: OSA, az angol „obstructive sleep apnea” kifejezés kezdőbetűiből), a narcolepsia vagy egyéb alvászavarok, fokozottabb veszélynek vannak kitéve, mert ha nem kezelik, az alvászavar általában megakadályozza, hogy az érintett elegendő mennyiségű pihentető alváshoz jusson. Ezért van az, hogy az alvászavarok leggyakoribb általános tünete a fokozott napközbeni aluszékonyság.</p>
        <a href="/mindent-az-apnoerol/jogositvany/" class="button small">Jogosítványhoz szükséges apnoé szűrésről bővebben</a>
      </div>
    </div>
  </section>
</main>
